* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-container {
    background-color: #F8DE7E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
}

.logo-container img {
    width: 200px;
    height: 50px;
}

.nav-content ul li {
    display: inline-block;
    margin: 15px;
}

.nav-content ul li .content-dropdown li {
    display: block;
}

.nav-content ul li .content-dropdown {
    position: absolute;
    display: none;
    width: 100px;
    border: 1px solid black;
    box-shadow: 0px 2px 2px 2px black;
    border-top: none;
    text-align: left;
}

.nav-content ul li:hover .content-dropdown {
    background-color: #F8DE7E;
    display: block;
}

.user-container a{
    text-decoration: none;
    color: black;
    margin: 15px;
}